@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    font-family: 'Lato', sans-serif;
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: inherit;
    line-height: inherit;
}

header{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}


.nav__logo{
    width: 2.5rem;
    margin-right: 0.75rem;
    
}

.treact__nav{
    display: flex;
    align-items: center;
    flex: 1 1 0%;
}

.nav__links{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.treact__nav--link{
   display: flex;
}

#id{
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
}

.header{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1280px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-around;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    margin: 0px 1.5rem;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.treact__nav--link{
    display: flex;
    align-items: center;
    border-bottom-width: 0px;
    font-weight: 900;
    margin-left: 0px !important;
    font-size: 1.5rem !important;
}

.nav__link{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}